<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (players.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Position Name</th>
                        <th scope="col">Lane</th>
                        <th scope="col">Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.forEach((player, index) => { %>
                        <tr>
                            <th scope="row"><%= player.id %></th>
                            <td><%= player.position_name %></td>
                            <td><%= player.lane %></td>
                            <td><%= player.position_type %></td>
                            <td>
                                <a href="/positions/edit/<%= player.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/positions/delete/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <p class="text-center">Go <a href="/positions/add" >here</a> to add players.</p>
        <% } else { %>
            <p class="text-center">No players found. Go <a href="/positions/add" >here</a> to add players.</p>
        <% } %>
    </div>
</div>
</body>
</html>