<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (players.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Team Name</th>
                        <th scope="col">Side</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.forEach((player, index) => { %>
                        <tr>
                            <th scope="row"><%= player.id %></th>
                            <td><%= player.TeamName %></td>
                            <td><%= player.side %></td>
                            <td><%= player.wins %></td>
                            <td><%= player.losses %></td>
                            <td>
                                <a href="/teams/edit/<%= player.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/teams/delete/<%= player.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <p class="text-center">Go <a href="/teams/add" >here</a> to add teams.</p>
        <% } else { %>
            <p class="text-center">No teams found. Go <a href="/teams/add" >here</a> to add teams.</p>
        <% } %>
    </div>
</div>
</body>
</html>